<form action="submit.php" method="post"> <!-- Placeholder for Now-->
    <label for="fname">Enter The Address:</label><br> <!-- User enters the address-->
    <input type="text" id="event_address" name="address" value="101 Fake Place Dr."><br>

    <label for="lname">Enter Event Name:</label><br> <!-- User enters the event name-->
    <input type="text" id="event_name" name="event" value="Cookout"><br><br>
    
    <label for="lname">Enter Time Of Event:</label><br> <!-- User enters the event name-->
    <input type="text" id="event_time" name="time" value="3:00PM"><br><br>
    
    <input type="submit" value="Submit">
  </form> 