{% extends 'base.html' %}

{% block content %}
<body>
    <div class="m-3">
        <h1 class="text-center mb-5 mt-3">Denied Events</h1>
        {% if denied_events %}
            <div id="backend-container" class="d-flex flex-column align-items-center justify-content-center">
                <ul class="list-group w-75">
                {% for event in denied_events %}
                    {% if 'admin_users' in user_groups %}
                        <li id="item-style" class="list-group-item" style="margin-bottom: 10px; text-align: center; list-style: none">
                            <a class="text-white" href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
                        </li>
                    {% elif event.event_email == user.email %}
                        <li id="item-style" class="list-group-item" style="margin-bottom: 10px; text-align: center; list-style: none">
                            <a class="text-white" href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <p style="text-align: center">No events are available.</p>
        {% endif %}
    </div>
</body>

{% endblock %}