<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'hoo_event/recent_event.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="m-3">
        <h1 class="text-center mb-5 mt-3">Denied Events</h1>
        {% if denied_events %}
            <div id="backend-container" class="d-flex flex-column align-items-center justify-content-center">
                <ul class="list-group w-75">
                {% for event in denied_events %}
                    {% if 'admin_users' in user_groups %}
                        <li id="item-style" class="list-group-item" style="margin-bottom: 10px; text-align: center; list-style: none">
                            <a class="text-white" href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
                        </li>
                    {% elif event.event_email == user.email %}
                        <li id="item-style" class="list-group-item" style="margin-bottom: 10px; text-align: center; list-style: none">
                            <a class="text-white" href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <p style="text-align: center">No events are available.</p>
        {% endif %}

        <div class="return-to-main-page-wrapper">
         <a id="return-to-main-page" class="btn text-center" href="{% url 'hoo_event:home' %}">Go back to main page</a>
         </div>
         
    </div>
</body>

 </html>