{% if event.event_category == '1' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">💡</p>
{% elif event.event_category == '2' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🍕</p>
{% elif event.event_category == '3' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🎉</p>
{% elif event.event_category == '4' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🎭</p>
{% elif event.event_category == '5' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🧠</p>
{% elif event.event_category == '6' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🌻</p>
{% elif event.event_category == '7' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🍿</p>
{% elif event.event_category == '8' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🎶</p>
{% elif event.event_category == '9' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">🎮</p>
{% elif event.event_category == '10' %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">❤️</p>
{% else %}
    <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">💡</p>
{% endif %}