<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnBBWV6Nih80bhNyDurMBgAv9wk5Dsl7k"></script> -->
    <style>
      #map {
        height: 75%;
      }

      /* 
      * Optional: Makes the sample page fill the window. 
      */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- <img src="https://media.npr.org/assets/img/2023/01/14/this-is-fine_custom-dcb93e90c4e1548ffb16978a5a8d182270c872a9-s1100-c50.jpg" alt="Italian Trulli"> -->
    <h1>{{event.event_title}}</h1>
    <strong>Start time: </strong>
    <p>{{ event.event_start_time }}</p>
    <strong>End time: </strong>
    <p>{{ event.event_end_time }}</p>
    {% if event.event_status == "EventStatus.PENDING" %}
        <form action="{% url 'hoo_event:approveEvent' event.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Approve"><br><br>
        </form>
        <form action="{% url 'hoo_event:denyEvent' event.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Deny"><br><br>
        </form>
    {% endif %}
    <div id="map"></div>

    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyCW82YwEQtTNMM9kgIkdijVww7cyWyw3f4", v: "beta"});</script>
    
    <script>

      // Initialize and add the map
      let map;

      async function initMap() {
        // The location of Uluru
        console.log("About to print");
        console.log("{{ event.event_title }}");
        console.log("{{ event.event_latitude }}");
        console.log("{{ event.event_longitude }}");
        const position = { lat: parseFloat('{{ event.event_latitude }}'), lng: parseFloat('{{ event.event_longitude }}')};
        // Request needed libraries.
        //@ts-ignore
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

        // The map, centered at Uluru
        map = new Map(document.getElementById("map"), {
          zoom: 17,
          center: position,
          mapId: "DEMO_MAP_ID",
        });

        // The marker, positioned at Uluru
        const marker = new AdvancedMarkerElement({
          map: map,
          position: position,
          title: "Uluru",
        });
      }

      initMap();
      // function initMap() {
      //       var map = new google.maps.Map(document.getElementById('map'), {
      //           center: { lat: parseFloat('{{ event.latitude }}'), lng: parseFloat('{{ event.longitude }}')},
      //           zoom: 15
      //       });

      //       var marker = new google.maps.Marker({
      //           position: { lat: parseFloat('{{ event.latitude }}'), lng: parseFloat('{{ event.longitude }}')},
      //           map: map,
      //           title: '{{ event.name }}',
      //       });
      //   }
    </script>
   <br><a href="{% url 'hoo_event:index' %}">Go back to main page</a><br><br>
   <a href="{% url 'hoo_event:recent' %}">Or check out more recent events</a>
  </body>
</html>
