<html>
  <head>
    <title>Hoo Events - Home</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'hoo_event/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <style>
        /* 
        * Always set the map height explicitly to define the size of the div element
        * that contains the map. 
        */
        #map {
        height: 100%;
        }

        /* 
        * Optional: Makes the sample page fill the window. 
        */
        html,
        body {
        height: 100%;
        margin: 0;
        padding: 0;
        }
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="">HooEvents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'hoo_event:addNewEvent' %}">Create Event</a>
              <a class="nav-link" href="{% url 'hoo_event:recent' %}">Recent Events</a>
            {% if 'admin_users' in user_groups %}
              <a class="nav-link" href="{% url 'hoo_event:pending' %}">Pending Events</a>
            {% endif %}
              <a class="nav-link" href="{% url 'hoo_event:denied' %}">Denied Events</a>
            {% endif %}
          </div>
        </div>
        </div>
      </nav>






    <h1>Welcome to Hoo Events, {{ user.username }}!</h1>
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script>
        var events_json = "{{events}}"
        // console.log(events_json);
        var events_parsed = JSON.parse(events_json.replace(/&quot;/g,'"'));

        console.log(events_parsed);

        var events = [];

        for (const event of events_parsed) {
            let title = event["fields"].event_title;
            let longitude = event["fields"].event_longitude;
            let latitude = event["fields"].event_latitude;
            events.push({
                event_title: title,
                longitude: longitude,
                latitude: latitude,
            });
            console.log(title);
            console.log(longitude);
            console.log(latitude);
        }
        
        // console.log(events);
        // events = JSON.parse(events.replace(/&quot;/g,'"'));

        // for (const event of events) {
        //     console.log(event.event_title);
        // }
        
        let map;
        let features = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(38.033554, -78.507980),
                zoom: 16,
            });

            for(const event of events) {
                features.push({
                    position: new google.maps.LatLng(event.latitude, event.longitude),
                    type: "event",
                });
            };

            for(let i = 0; i < features.length; i++) {
                const marker = new google.maps.Marker({
                    position: features[i].position,
                    map: map,
                });
            }
        }

        window.initMap = initMap;
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBySC3PIE9ulvwqdfw86CjtmFZs6GtkA&callback=initMap&v=weekly"
    defer
    ></script>
  </body>
</html>

