<!-- /***************************************************************************************
*  REFERENCES
*  Title: Django-allauth and logout issue with Google
*  Author: cbirch
*  Date: October 28th, 2022
*  URL: https://stackoverflow.com/questions/74228840/django-allauth-and-logout-issue-with-google
*
***************************************************************************************/ -->
{% load static %}
{% load socialaccount %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'hoo_event/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  </head>
<body>
  <div id="body-div">
  <h1>Welcome to Hoo Events!</h1>
  <h2>Let's Get You Signed In.</h2>
  <section id="hoos-events-landing-page">
    <div>
{% if user.is_authenticated %}
  <p>Welcome {{ user.username }}, You are logged in as {{ user.email }}!</p>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>

{% else %}
  <a href="{% provider_login_url "google" action="reauthenticate" %}" id="google-login-link">Login With Google</a>
{% endif %}
</div>
  </section>
</div>
</body>
 
</html>