{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'hoo_event/recent_event.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/hoo_event/home/">
            <img src="https://live.staticflickr.com/65535/53335102583_22d2bea6c9_o.png" height="45" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:addNewEvent' %}">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:myEvents' %}">My Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:recent' %}">Recent Events</a>
            </li>
            {% if 'admin_users' in user_groups %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:pending' %}">Pending Events</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:denied' %}">Denied Events</a>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" class="ms-auto" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Logout</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<body>
    {% if host_events %}
        <h1>Here are the events you are hosting:</h1>
        {% for event in host_events %}
            <li>
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <h1>You are not hosting any events</h1>
    {%  endif %}
    <br><br>
    {% if joined_events %}
        <h1>Here are the events that you have signed up for:</h1>
        {% for event in joined_events %}
            <li>
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <h1>You have not joined any events</h1>
    {% endif %}
    <br><br>
</body>
</html>