{% extends 'base.html' %}

{% block additional_styles %}
   <style>

        #main-title-text {
        font-weight: bolder;
        background-color: black;
        color: white;
        border-radius: 30px;
        padding: 15px;
        }



    </style>
{% endblock %}

{% block content %}
<body>
    {% if joined_events %}
        <div id="backend-container" class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center mb-5 mt-3" id="main-title-text">Here are the events that you have signed up for:</h1>
            <div class="container">
                <div class="row">
                    {% for event in joined_events %}
                        <div class="col">
                            <div class="card" style="width: 14rem; height: 400px; margin: 0.5rem; ">
                                <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">{{ event.get_event_category_display}}</p>
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.event_title }}</h5>
                                    <p class="card-text">{{ event.event_description }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'hoo_event:event' event.id %}" class="btn btn-primary">Event Info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "pagination.html" %}
        
    {% else %}
        <h1 class="text-center mb-5 mt-3">You have not joined any events</h1>
    {% endif %}
    <br><br>
</body>

{% endblock %}