<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if host_events %}
        <h1>Here are the events you are hosting:</h1>
        {% for event in host_events %}
            <li>
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <h1>You are not hosting any events</h1>
    {%  endif %}
    <br><br>
    {% if joined_events %}
        <h1>Here are the events that you have signed up for:</h1>
        {% for event in joined_events %}
            <li>
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <h1>You have not joined any events</h1>
    {% endif %}
    <br><br>
    <a href="{% url 'hoo_event:index' %}">Go back to main page</a>
</body>
</html>