{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hoo_event/pending_event.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

</body>
</html>

{% if 'admin_users' in user_groups %}
    <h1>These events are awaiting approval from admins.</h1>

    <div id="pending-events-backend-container">    
    {% if pending_events %}

        {% for event in pending_events %}
            <li id="pending-event-item-style">
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li>
        {% endfor %}

    {% else %}
        <p style="text-align: center">No events are available.</p>
    {% endif %}

    <br>
    <br>
     <a href="{% url 'hoo_event:index' %}" id="return-to-main-page">Go back to main page</a>

     </div>

{% else %}
    <h1>If you have any pending events, they will be here.</h1>

    <div id="pending-events-backend-container">
    {% if pending_events %}

        {% for event in pending_events %}
            {% if event.event_email == user.email %}
                <li id="pending-event-item-style">
                    <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
                </li>
            {% endif %}
        {% endfor %}

    {% else %}
        <p style="text-align: center">No events are available.</p>
    {% endif %}

    <br>
     <a href="{% url 'hoo_event:home' %}" id="return-to-main-page">Go back to main page</a>

     </div>
{% endif %}