{% extends 'base.html' %}

{% block content %}
{% if 'admin_users' in user_groups %}
    {% if not pending_events %}
        <h1 class="text-center mb-5 mt-3">There are no pending events right now.</h1>
    {% else %}
        <h1 class="text-center mb-5 mt-3">These events are awaiting approval from admins:</h1>
    {% endif %}
{% else %}
    {% if not pending_events %}
        <h1 class="text-center mb-5 mt-3">You have no pending events.</h1>
    {% else %}
        <h1 class="text-center mb-5 mt-3">Here are your pending events:</h1>
    {% endif %}
{% endif %}

<div id="backend-container" class="d-flex flex-column align-items-center justify-content-center">
{% if pending_events %}

    <ul class="list-group w-75">
        {% for event in pending_events %}
            <!-- <li id="item-style" class="list-group-item" style="margin-bottom: 10px; text-align: center; list-style: none">
                <a href="{% url 'hoo_event:event' event.id %}">{{ event.event_title }}</a>
            </li> -->

            <div class="card" style="width: 18rem;">
                        <img class="card-img-top"
                            src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.event_title }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <a href="{% url 'hoo_event:event' event.id %}" class="btn btn-primary">Event Info</a>
                        </div>
                    </div>
        {% endfor %}
    </ul>
{% endif %}

 </div>

{% include "pagination.html" %}

{% endblock %}