{% extends 'base.html' %}

{% block content %}
{% if 'admin_users' in user_groups %}
    {% if not pending_events %}
        <h1 class="text-center mb-5 mt-3">There are no pending events right now.</h1>
    {% else %}
        <h1 class="text-center mb-5 mt-3">These events are awaiting approval from admins:</h1>
    {% endif %}
{% else %}
    {% if not pending_events %}
        <h1 class="text-center mb-5 mt-3">You have no pending events.</h1>
    {% else %}
        <h1 class="text-center mb-5 mt-3">Here are your pending events:</h1>
    {% endif %}
{% endif %}


{% if pending_events %}
    <div id="backend-container" class="d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                {% for event in pending_events %}
                <div class="col">
                    <div class="card" style="width: 14rem; height: 400px; margin: 0.5rem; ">
                            {% include "emoji_dict.html" %}
                        <div class="card-body">
                            <h5 class="card-title">{{ event.event_title }}</h5>
                            <p class="card-text">{{ event.event_description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'hoo_event:event' event.id %}" class="btn btn-primary">Event Info</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "pagination.html" %}
{% endif %}


{% endblock %}