{% extends 'base.html' %}

{% block content %}
<div class="m-3">
    <h1 class="text-center mb-5 mt-3">Recently Added Events</h1>
    {% if latest_events %}
        <div id="backend-container">
                    <div class="container">
                        <div class="row">
                            {% for event in latest_events %}
                            <div class="col">
                                <div class="card" style="width: 14rem; height: 400px; margin: 0.5rem; ">
                                        <p class="emoji" style="font-size: 5em; display: block; margin: 0 auto;">{{ event.get_event_category_display}}</p>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.event_title }}</h5>
                                        <p class="card-text">{{ event.event_description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'hoo_event:event' event.id %}" class="btn btn-primary">Event Info</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

        </div>
        {% include "pagination.html" %}

    {% else %}
        <p style="text-align: center">No events are available.</p>
    {% endif %}
</div>

{% endblock %}
