{% extends 'base.html' %}

{% block additional_styles %}
   <style>
      .error-message-styling {
        margin-top: 20%;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: white;
      }

      .error-message-styling a {
        color: white;
        background-color: black;
        border-radius: 30px;
        padding: 15px;
      }

    </style>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="error-message-styling">
    <p>Sorry. This event has either reached capacity, or is not ready to be signed up :(</p>
    <br><a href="{% url 'hoo_event:home' %}">Go back to main page</a><br><br>
    </div>
</body>
</html>
{% endblock %} 