<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/hoo_event/home/">
            <img src="https://live.staticflickr.com/65535/53335102583_22d2bea6c9_o.png" height="45" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:addNewEvent' %}">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:myEvents' %}">My Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:recent' %}">Recent Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:pending' %}">Pending Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoo_event:denied' %}">Denied Events</a>
            </li>
            <li class="nav-item">
                <!-- <form action="{% url 'logout' %}" class="ms-auto" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Logout</button>
                </form> -->
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>